{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Stage 2: Individual Tasks
{% endblock %}

{% block content %}

<p class="custom">
	There will be 4 individual tasks. In each of them you will be providing information about your preferences over
	different movie genres or different types of pizza.
</p>

    <button class="otree-btn-next btn btn-primary" style="font-size:18px">Next</button>

{% endblock %}

{% block app_styles %}
<style type="text/css">
.custom {
	font-size: 18px;
}
</style>
{% endblock %}